.firstPage {
  width: 550px;
  height: 550px;
}

.header {
  display: flex;
  height: 91px;
  color: rgb(87, 182, 238); 
  align-items: center;
  justify-content: center;
  background-color: #21222A;
}

.header-item {
  flex-grow: 1;
}

.logo {
  padding-top: 3px;
  padding-left: 15px;
}

.sub-title {
  text-align: right;
  padding-right: 15px;
}

.body {
  height: 459px;
  background-color: #282D35;
  border-top: 2px solid #555;
}

.body-title {
  color: #fff;
  padding: 10px 0px 0px 27px;
}

.body-content {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.bullet {
  background-color: #61DAFB;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 15px;
}

.body-content-img {
  margin-left: -15px;
}

.body-fact {
  color: #fff;
  width: 390px;
  display: flex;
  align-items: baseline;
  max-height: 50px;
}